# Options : 一些选择
snippet emojiOptionsSign✔  "✔"
✔
endsnippet
snippet emojiOptionsSign✅ "✅"
✅ 
endsnippet
snippet emojiOptionsSign❌ "❌"
❌ 
endsnippet
snippet emojiOptionsSign❎ "❎"
❎ 
endsnippet
snippet emojiOptionsSign❓ "❓"
❓
endsnippet	
snippet emojiOptionsSign⚠  "⚠"
⚠
endsnippet


snippet emojiOptionsNumber①  "①"
① 
endsnippet
snippet emojiOptionsNumber②  "②"
② 
endsnippet
snippet emojiOptionsNumber③  "③"
③ 
endsnippet
snippet emojiOptionsNumber④  "④"
④ 
endsnippet
snippet emojiOptionsNumber⑤  "⑤"
⑤ 
endsnippet
snippet emojiOptionsNumber⑥  "⑥"
⑥ 
endsnippet
snippet emojiOptionsNumber⑦  "⑦"
⑦ 
endsnippet
snippet emojiOptionsNumber⑧  "⑧"
⑧ 
endsnippet
snippet emojiOptionsNumber⑨  "⑨"
⑨ 
endsnippet
snippet emojiOptionsNumber⑩  "⑩"
⑩ 
endsnippet	
