<!DOCTYPE html PUBLIC &quot;-//W3C//DTD XHTML 1.0 Transitional//EN&quot; &quot;http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd&quot;>

<html xmlns=&quot;http://www.w3.org/1999/xhtml&quot; xml:lang=&quot;en&quot; lang=&quot;en&quot;>
<head>
    <meta http-equiv=&quot;content-type&quot; content=&quot;text/html; charset=UTF-8&quot;/>
    <title>thymeleaf</title>
</head>
<body style=&quot;padding: 20px&quot;>
    test xxx 
    <span id=&quot;userinput&quot; th:text=&quot;&dollar;{value}&quot;></span>
</body>
</html>
